files:
    "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-log.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/www/html/storage/logs/laravel.log
    "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel-log.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            /var/www/html/storage/logs/laravel.log
